* {
  box-sizing: border-box;
}
.container {
  max-width: 100%;
}

.videoWrapper {
  margin: 0 auto;
  display: block;
  width: 640px;
}

.text {
  width: 100%;
  margin: 0 auto;
  font-size: 20px;

}

p {
  padding: 30px;
  line-height: 1.5em;
}



.highlight {
  color:orange;
}

.mejs__controls:not([style*="display: none"]){
  background: linear-gradient(45deg, rgba(150,106,171,1) 0%, rgba(0,128,128,1) 150%);
}
.mejs__container{
  background: linear-gradient(45deg, rgba(150,106,171,1) 0%, rgba(0,128,128,1) 100%);
}




@media (min-width: 768px) {

  .videoWrapper {
    margin-top: 30px;
  }
  .text {
    max-width:640px;
  }

}
<!-- //
// }
//
//
//
//  //When video time matches data-start time  span caption
// if video.ontimeupdate = startTime
//
// function() {myFunction()};
//  //When data-start matches time add class highlight
//  //When data-end matches time remove class highlight
//  //When span is clicked jump to same time in video
//
//    window.addEvenListener('timeUpdate', function(e){
//      const captStart = document.querySelector(`span[data-start="${e.data-start}"]`);
//      return captStart;
//
//    }); -->
